
window {
	font-weight: bold;
	font-size: 14px;
	font-family: "FontAwesome", "otf-aurulent-nerd";
	box-shadow: inherit;
	text-shadow: inherit;
	border-radius: 15px 15px 15px 15px;
	background: rgba(0, 0, 0, 0.5);
}

tooltip {
	background-color: rgba(0, 0, 0, 0.80);
	border-radius: 15px;
	font-weight: bold;
	font-size: 16;
}

#workspaces button {
	color: #cccccc;
	border-color:rgba(0, 0, 0, 0.0);
}

#workspaces button.focused {
	color:  #ff00ff;
}

#workspaces button.urgent {
	background: rgba(0, 0, 0, 0.0);
	animation: urgent 0.5s infinite alternate;
}

#workspaces button:hover {
	background: rgba(0, 0, 0, 0.0); 
	animation: urgent 1.5s infinite alternate;
}

@keyframes urgent {
	0% {
		color: #ff00ff;
	}
	
	100% {
		color: #00ced1;
	}
	
}

#workspaces {
}

#scratchpad {
    color: #ff00ff;
}

#scratchpad.empty {
    color: #CCCCCC;
}

window.bar2 #temperature,
window.bar2 #custom-CPUclocks,
window.bar2 #memory,
window.bar2 #custom-GPUwattage,
window.bar2 #cpu,
window.bar2 #disk {
    color: #00ced1;
}

window.bar1 #clock,
window.bar1 #idle_inhibitor.deactivated,
window.bar1 #network {
    color: #ff00ff;
}
window.bar1 #idle_inhibitor.activated {
	color: #00ced1;
}
window.bar4 #tray {
	padding-left: 20px;
	padding-right: 20px;
}

window.bar1 #wireplumber {
    color: #cccccc;
}
#custom-notification {
    color: #ff00ff;
	font-family: "NotoSansMono Nerd Font";
}

