#entry {
  border-radius: 3px;
  padding: 15px 15px 15px 15px;
}

#entry:selected {
	background: transparent;
	color: #222222;
}

#text:selected {
	color: #00ced1;
	animation:urgentFlash 2s infinite alternate;
}
@keyframes urgentFlash {
	0% {
		color: #ff00ff;
	}
	100% {
		color: #00ced1;
	}
}

#window {
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.23);
  border: 3px solid #ff00ff;
  border-radius: 15px 15px 15px 15px;
  font-family: FontAwesome;
  font-size: 15px;
}

#input {
  border: 2px solid #00ced1;
  background-color: #222222;
  color: #00ced1;
  padding: 3px 5px 3px 5px;
  border-radius: 15px 15px 15px 15px;
}

#inner-box {
  color: #CCCCCC;
  padding: 2px;
  background-color: transparent;
}

#outer-box {
  margin: 15px;
  background-color: transparent;
}

#scroll {
  margin-top: 10px;
  background-color: transparent;
  border: none;
}

#text {
  padding: 3px;
  background-color: transparent;
}

#img {
  background-color: transparent;
  padding: 5px;
}
